.footer {
  display: flex;
  align-self: center;
  padding: 40px 100px;
  justify-content: space-evenly;
  background-color: #232F3E;
  color: white;
  width: 100%;
  min-width: 1000px;
}

.footer__section {
  display: flex;
  flex-direction: column;
  height: fit-content;
}